# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# vOW4SIKE specific build output
vow_gen/
python/vow_gen
vow_sidh/
python/vow_sidh
vow_sike/
python/vow_sike
Visual Studio/SIDH/SIDH.VC.db
Visual Studio/SIDH/SIDH.VC.VC.opendb
Visual Studio/SIDH/.vs/SIDH/v14/.suo
